*, ::before, ::after {
  box-sizing: border-box;
}

:root {
  --space: 2rem;
  --column-width: calc(100vw / 7);

  --black: black;
  --orange: rgb(239, 125, 0);
  --background: rgb(247, 243, 243);

  --grid-template-portfolio: calc(var(--column-width) * 2) 1fr;
  --row-direction: row;

  --transition-fast: 0.15s ease-in;
}

@media screen and (max-width: 1000px) {
  :root {
    --grid-template-portfolio: 100%;
    --row-direction: column;
  }
}

html {
  font-family: circe-slab-a, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  line-height: 1.4;

  font-variant-numeric: oldstyle-nums;

  background: var(--background);
}

body {
  margin: 0;
}

iframe {
  // outline: none;
  border: none;
}

a {
  color: var(--black);
  font-weight: 500;
  background: transparent;

  text-decoration: underline var(--orange) 0.2rem;
  text-underline-offset: 0.3rem;
  transition: background var(--transition-fast), color var(--transition-fast);

  &:visited { color: var(--orange); }

  &:hover {
    color: var(--black);
    background: var(--orange);
  }

  &:focus {
    color: var(--black);
    background: var(--orange);
    outline: none;

    &:not(:focus-visible) { background: none; }
  }
}

::selection {
  background-color: var(--orange);
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
